@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}

/* TAILWIND */
@theme inline {
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-950);

  --color-key: var(--color-primary-900);
  --color-key-foreground: var(--color-primary-100);

  --color-secondary: var(--color-neutral-50);
  --color-secondary-foreground: var(--color-primary-600);
  --color-accent: var(--color-primary-100);
  --color-accent-foreground: var(--color-primary-600);

  --color-muted: var(--color-neutral-200);
  --color-muted-foreground: var(--color-neutral-600);
  --color-card: var(--color-neutral-50);
  --color-card-foreground: var(--color-neutral-950);
  --color-popover: var(--color-neutral-100);
  --color-popover-foreground: var(--color-neutral-900);

  --color-border: var(--color-neutral-300);
  --color-input: var(--color-neutral-50);
  --color-ring: var(--color-primary-600);

  --color-destructive: var(--color-pinkred-700);
  --color-destructive-foreground: var(--color-pinkred-50);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--color-primary-50);
  --color-sidebar-foreground: var(--color-primary-900);
  --color-sidebar-key: var(--color-primary-600);
  --color-sidebar-key-foreground: var(--color-primary-100);
  --color-sidebar-accent: var(--color-primary-900);
  --color-sidebar-accent-foreground: var(--color-primary-50);
  --color-sidebar-border: var(--color-primary-300);
  --color-sidebar-ring: var(--color-primary-600);

  /* Brand Color Scale */
  --color-primary-50: #f4f5ff;
  --color-primary-100: #f0f2fe;
  --color-primary-200: #ebeeff;
  --color-primary-300: #cad1fc;
  --color-primary-400: #a0acf8;
  --color-primary-500: #7d8be6;
  --color-primary-600: #2c24c3;
  --color-primary-700: #272199;
  --color-primary-800: #171273;
  --color-primary-900: #15115e;
  --color-primary-950: #090642;

  /* Neutral Color Scale */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f8f8f9;
  --color-neutral-200: #f3f3f5;
  --color-neutral-300: #eaeaef;
  --color-neutral-400: #bab9c3;
  --color-neutral-500: #a09faa;
  --color-neutral-600: #7c7b87;
  --color-neutral-700: #605f6b;
  --color-neutral-800: #52515e;
  --color-neutral-900: #42414e;
  --color-neutral-950: #131221;

  /* PinkRed Color Scale */
  --color-pinkred-50: #fff4f6;
  --color-pinkred-100: #fee8ec;
  --color-pinkred-200: #fccad3;
  --color-pinkred-300: #f8a0b0;
  --color-pinkred-400: #e67d90;
  --color-pinkred-500: #e35770;
  --color-pinkred-600: #e42e4f;
  --color-pinkred-700: #be1235;
  --color-pinkred-800: #9f1234;
  --color-pinkred-900: #881333;
  --color-pinkred-950: #4c0516;

  /* Sky Color Scale */
  --color-sky-50: #f4fcff;
  --color-sky-100: #e8f7fe;
  --color-sky-200: #caedfc;
  --color-sky-300: #a0def8;
  --color-sky-400: #7dc7e6;
  --color-sky-500: #2eade4;
  --color-sky-600: #128abe;
  --color-sky-700: #12759f;
  --color-sky-800: #136588;
  --color-sky-900: #0e4f6c;
  --color-sky-950: #093348;

  /* Green Color Scale */
  --color-green-50: #e8fef5;
  --color-green-100: #cafce8;
  --color-green-200: #a0f8d5;
  --color-green-300: #7de6bc;
  --color-green-400: #2ee49b;
  --color-green-500: #12be79;
  --color-green-600: #129f67;
  --color-green-700: #138859;
  --color-green-800: #0c6e47;
  --color-green-900: #054c30;
  --color-green-950: #022c20;

  /* Yellow Color Scale */
  --color-yellow-50: #fff9eb;
  --color-yellow-100: #fff5db;
  --color-yellow-200: #fce9ba;
  --color-yellow-300: #f6db98;
  --color-yellow-400: #fbd263;
  --color-yellow-500: #f8bc1a;
  --color-yellow-600: #e4b02e;
  --color-yellow-700: #be8f17;
  --color-yellow-800: #9d7717;
  --color-yellow-900: #82651a;
  --color-yellow-950: #473508;

  /* Lime Color Scale */
  --color-lime-50: #f8fef2;
  --color-lime-100: #f5ffeb;
  --color-lime-200: #edffdb;
  --color-lime-300: #dbfcba;
  --color-lime-400: #c7f698;
  --color-lime-500: #b5f673;
  --color-lime-600: #89e42e;
  --color-lime-700: #6bbe17;
  --color-lime-800: #5a9d17;
  --color-lime-900: #4e821a;
  --color-lime-950: #284708;

  /* Orange Color Scale */
  --color-orange-50: #fff8f4;
  --color-orange-100: #fff5ef;
  --color-orange-200: #fef0e8;
  --color-orange-300: #fcdcca;
  --color-orange-400: #f8c0a0;
  --color-orange-500: #e6a37d;
  --color-orange-600: #e4712e;
  --color-orange-700: #be5112;
  --color-orange-800: #9f4612;
  --color-orange-900: #883e13;
  --color-orange-950: #4c1f05;

  /* Blue Color Scale */
  --color-blue-50: #fafeff;
  --color-blue-100: #e8faff;
  --color-blue-200: #dbf7ff;
  --color-blue-300: #baecfc;
  --color-blue-400: #98e0f6;
  --color-blue-500: #73d7f6;
  --color-blue-600: #2ebae4;
  --color-blue-700: #1797be;
  --color-blue-800: #177e9d;
  --color-blue-900: #1a6a82;
  --color-blue-950: #083847;

  /* Pink Color Scale */
  --color-pink-50: #fefafd;
  --color-pink-100: #fef2f8;
  --color-pink-200: #ffd8ee;
  --color-pink-300: #fcbada;
  --color-pink-400: #f698ca;
  --color-pink-500: #f673b9;
  --color-pink-600: #e42e8f;
  --color-pink-700: #be1770;
  --color-pink-800: #9d175e;
  --color-pink-900: #821a51;
  --color-pink-950: #47082a;

  /* Brown Color Scale */
  --color-brown-50: #fef8f2;
  --color-brown-100: #fff5eb;
  --color-brown-200: #ffecd3;
  --color-brown-300: #fcdaba;
  --color-brown-400: #f6c598;
  --color-brown-500: #f6b273;
  --color-brown-600: #be6817;
  --color-brown-700: #9d5817;
  --color-brown-800: #824c1a;
  --color-brown-900: #69380a;
  --color-brown-950: #472608;

  /* Purple Color Scale */
  --color-purple-50: #f6f2fe;
  --color-purple-100: #f2ebff;
  --color-purple-200: #e8dbff;
  --color-purple-300: #d1bafc;
  --color-purple-400: #b998f6;
  --color-purple-500: #a173f6;
  --color-purple-600: #6e2ee4;
  --color-purple-700: #5117be;
  --color-purple-800: #46179d;
  --color-purple-900: #3e1a82;
  --color-purple-950: #1e0847;

  --font-sans: var(--font-sans);
  --font-serif: serif;
  --font-mono: monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
