@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* TAILWIND */
@theme inline {
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-950);

  --color-key: var(--color-primary-900);
  --color-key-foreground: var(--color-primary-100);

  --color-secondary: var(--color-neutral-50);
  --color-secondary-foreground: var(--color-primary-600);
  --color-accent: var(--color-primary-100);
  --color-accent-foreground: var(--color-primary-600);

  --color-muted: var(--color-neutral-200);
  --color-muted-foreground: var(--color-neutral-600);
  --color-card: var(--color-neutral-50);
  --color-card-foreground: var(--color-neutral-950);
  --color-popover: var(--color-neutral-100);
  --color-popover-foreground: var(--color-neutral-900);

  --color-border: var(--color-neutral-300);
  --color-input: var(--color-neutral-50);
  --color-ring: var(--color-primary-600);

  --color-destructive: var(--color-pinkred-700);
  --color-destructive-foreground: var(--color-pinkred-50);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--color-primary-50);
  --color-sidebar-foreground: var(--color-primary-900);
  --color-sidebar-key: var(--color-primary-600);
  --color-sidebar-key-foreground: var(--color-primary-100);
  --color-sidebar-accent: var(--color-primary-900);
  --color-sidebar-accent-foreground: var(--color-primary-50);
  --color-sidebar-border: var(--color-primary-300);
  --color-sidebar-ring: var(--color-primary-600);

  /* Brand Color Scale */
  --color-primary-50: #F4F5FF;
  --color-primary-100: #F0F2FE;
  --color-primary-200: #EBEEFF;
  --color-primary-300: #CAD1FC;
  --color-primary-400: #A0ACF8;
  --color-primary-500: #7D8BE6;
  --color-primary-600: #2C24C3;
  --color-primary-700: #272199;
  --color-primary-800: #171273;
  --color-primary-900: #15115E;
  --color-primary-950: #090642;

  /* Neutral Color Scale */
  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #F8F8F9;
  --color-neutral-200: #F3F3F5;
  --color-neutral-300: #EAEAEF;
  --color-neutral-400: #BAB9C3;
  --color-neutral-500: #A09FAA;
  --color-neutral-600: #7C7B87;
  --color-neutral-700: #605F6B;
  --color-neutral-800: #52515E;
  --color-neutral-900: #42414E;
  --color-neutral-950: #131221;

  /* PinkRed Color Scale */
  --color-pinkred-50: #FFF4F6;
  --color-pinkred-100: #FEE8EC;
  --color-pinkred-200: #FCCAD3;
  --color-pinkred-300: #F8A0B0;
  --color-pinkred-400: #E67D90;
  --color-pinkred-500: #E35770;
  --color-pinkred-600: #E42E4F;
  --color-pinkred-700: #BE1235;
  --color-pinkred-800: #9F1234;
  --color-pinkred-900: #881333;
  --color-pinkred-950: #4C0516;

  --font-sans: var(--font-sans);
  --font-serif: serif;
  --font-mono: monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
